@font-face {
  font-family: 'ylicon';  /* project id 975944 */
  src: url('//at.alicdn.com/t/font_975944_tvwf3usfusk.eot');
  src: url('//at.alicdn.com/t/font_975944_tvwf3usfusk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_975944_tvwf3usfusk.woff') format('woff'),
  url('//at.alicdn.com/t/font_975944_tvwf3usfusk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_975944_tvwf3usfusk.svg#ylicon') format('svg');
}
@import url('http://at.alicdn.com/t/font_975944_tvwf3usfusk.css');